#* Fichiers compilés
*.o
*.out
*.exe

#* Fichiers temporaires
*.swp
*.swo
*.bak

#* Dossier de build
build/

#* Binaires ou exécutables
bin/

#* Fichiers de configuration sensibles
.env


#* Fichiers spécifiques à certains éditeurs
.vscode/